
.square{
    position: fixed;
    bottom: 520px;
    height: 70px;
    width: 100%;
    background-color: rgb(0, 0, 51);
    overflow: auto;
}
.square2{
    position: absolute;
    top: 43px;
    height: 7px;
    width: 190px;
    background-color: rgb(255, 153, 153);
}
.logo{
    color: white;
    position: absolute;
    top: -17px;
    left: 30px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}
.logo2{
    color: white;
    position:absolute;
    font-size: 20px;
    top: -7px;
    left: 140px;
    font-family: 'Roboto Condensed', sans-serif;
}
.contact{
    position: absolute;
    font-size: 15px;
    color: white;
    left: 1120px;
    top: 15px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}
.contact:hover{
	background-color: none;
    
	color: rgb(255, 153, 153);
}
.team{
    position: absolute;
    font-size: 15px;
    color: aliceblue;
    left: 1058px;
    top: 15px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}
.team:hover{
	background-color: none;
    
	color: rgb(255, 153, 153);
}
.news{
    position: absolute;
    font-size: 15px;
    color: white;
    left: 992px;
    top: 15px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}
.news:hover{
	background-color: none;
    
	color: rgb(255, 153, 153);
}
.home{
    position: absolute;
    font-size: 15px;
    color: rgb(255, 153, 153);
    left: 930px;
    top: 15px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}
.facelogo{
    position: absolute;
    color: aliceblue;
    top: 16px;
    left: 216px;
}
.twitter{
    position: absolute;
    left: 237px;
    top: 14px;
    
}
.linkedin{
    position: absolute;
    left: 262px;
    top: 8px;
}
.youtube{
    position: absolute;
    left: 300px;
    top: 17px;
}
.fundo{
    position: relative;
    /*bottom: 58px;*/
    top:40px;
}
.h33{
    position: absolute;
    font-size: 70px;
    font-family: 'Oswald', sans-serif;
    color: white;
    bottom: 250px;
    left: 369px;
    text-shadow: 2px 2px 2px black;
    
}
.text{
    position: absolute;
    font-size: 30px;
    bottom: 240px;
    left: 490px;
    color: aliceblue;
    font-family: 'Amatic SC', cursive;
    text-shadow: 2px 2px 2px black;
}

.explore{
    position: absolute;
    color: aliceblue;
    font-size: 18px;
    bottom: 140px;
    left: 518px;
    background-color: red;
    padding: 10px;
    padding-left: 38px;
    padding-right: 38px;
    text-decoration: none;
    font-family: 'Koulen', cursive;
}
.explore:hover{
	background-color: white;
	color: red
}
.talk{
    position: absolute;
    color: aliceblue;
    background-color: red;
    padding: 10px;
    padding-left: 58px;
    padding-right: 38px;
    text-decoration: none;
    font-family: 'Koulen', cursive;
    bottom: 10px;
    left: 1020px;
    
}
.talk:hover{
	background-color: white;
	color: red
}
.mensagem{
    position: absolute;
    bottom: 30px;
    left: 1060px;
}

